.App {
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 350px;
  min-height: 600px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #171b1a;
  color: #d7d6c7;
  font-family: 'Space Grotesk', sans-serif;
}

.button-link {
  font-size: large;
}

@media screen and (min-width: 768px) {
  .button-link {
    font-size: x-large;
  }
}
