.postdetail-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postdetail-link,
.postdetail-link:visited {
  color: #90caf9;
}

.button-text {
  font-size: x-large;
}

.postdetail-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
