.comment-card {
  width: 50vw;
  min-width: 200px;
  max-width: 300px;
  height: 20%;
  min-height: 100px;
  max-height: 400px;
  background-color: #262f30;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 20px;
}

.comment-card-user {
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: baseline;
  align-items: center;
}

.comment-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  object-position: center;
  object-fit: cover;
}

.comment-username {
  font-size: medium;
  margin-left: 20px;
  text-decoration: underline;
}
.comment-card-content {
  text-align: left;
  font-size: medium;
  overflow-wrap: break-word;
}

.comment-card-link,
.post-card-link:visited {
  color: #90caf9;
  text-decoration: none;
  font-size: medium;
}

@media screen and (min-width: 768px) {
  .comment-card-button-link {
    font-size: medium;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comment-card {
    width: 300px;
    height: 200px;
  }
}
