.comment-card {
  width: 50vw;
  min-width: 275px;
  max-width: 500px;
  height: fit-content;
  min-height: 100px;
  max-height: 400px;
  background-color: #262f30;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 10px;
}

.comment-card-user {
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: baseline;
  align-items: center;
}

.comment-avatar {
  height: 60px;
  width: 60px;
  border: solid 4px #90caf9;
  border-radius: 50px;
  object-position: center;
  object-fit: cover;
}

.comment-username {
  font-size: medium;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-card-content {
  text-align: left;
  font-size: medium;
  overflow-wrap: break-word;
  margin: 1rem 0;
}

.comment-card-link,
.post-card-link:visited {
  color: #90caf9;
  text-decoration: none;
  font-size: medium;
}

@media screen and (min-width: 768px) {
  .comment-card-button-link {
    font-size: medium;
  }

  .comment-username {
    font-size: x-large;
  }

  .comment-card-content {
    font-size: x-large;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comment-card {
    min-height: 300px;
  }
}
