.header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0.5rem 2rem 0.5rem;
}

.header-hamburger-button {
  height: 50px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.welcome-user-message {
  font-size: 20px;
  text-align: center;
  inline-size: 90%;
}

.header-navlink,
.header-navlink:visited {
  color: #90caf9;
  text-decoration: none;
}

.logo {
  height: 50px;
  padding-bottom: 8px;
  padding-right: 24px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .header-hamburger-button {
    height: 75px;
  }

  .welcome-user-message {
    font-size: x-large;
  }

  .nav-link-text {
    font-size: large;
  }

  .logo {
    height: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .header-hamburger-button {
    height: 100px;
  }

  .logo {
    height: 100px;
  }
}
