.header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header-hamburger-button {
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.logo {
  height: 125px;
  width: 125px;
  flex-grow: 1;
}
