.header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0.5rem 5rem 0.5rem;
}

.header-hamburger-button {
  height: 50px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.welcome-user-message {
  font-size: 20px;
  text-align: center;
  text-overflow: ellipsis;
}

.header-navlink,
.header-navlink:visited {
  color: #90caf9;
  text-decoration: none;
}
.logo {
  height: 50px;
  padding-bottom: 8px;
  padding-right: 24px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
