.home-welcome-message {
  font-size: xx-large;
}

.home-helper-text {
  font-size: large;
  margin: 0 2rem;
}

.home-link,
.home-sign-up-link:visited {
  color: #90caf9;
  text-decoration: none;
}

.home-latest-post-title {
  font-size: x-large;
}

.home-latest-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-welcome-message {
    font-size: 3rem;
  }

  .home-helper-text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-welcome-message {
    font-size: 4rem;
  }

  .home-helper-text {
    font-size: 2rem;
  }

  .home-latest-post-container {
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;
  }

  .home-latest-post-card {
    margin: 1rem;
  }
}
